body{
    display: flex;
    justify-content:center;
    align-items: center;
    background-size:#c2c2c2
}

div{
    /* border: 1px solid red; */
    width:40% ;
height:500px ;
background-image: url(train\ 2.jpg);
justify-items: center;
background-position:no-repeat ;
background-size: cover;
display: flex;
    justify-content: center;
    align-items: center;
}

form{
    width: 80%;
}

label{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
}
input{
    width: 100%; 
    height: 40px;
    background: transparent;
    border: none;
    border: 1px solid green;
}

h1{
    color: orange;
}

button{
    width:40% ;
    height:40px;
    border:none ;
    outline:none ;
    border:2px solid orange ;
    border-radius:100px ;
    background-image: url(train\ 2.jpg);
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    div{

        width: 100%;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}